* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }


.ctaContainer{

    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    position: absolute;
    bottom: 11%;
    flex-direction: column;
}

.ctaContainer span{
    /* font-family: var(--varela); */
    font-style: normal;
    /* font-weight: 400; */
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    /* text-transform: uppercase; */
    /* letter-spacing: .5rem; */
    /* height: 208px;
    width: 724px; */
    inline-size: 70%;
    padding-bottom: 30rem;
    overflow: hidden;
    line-height: 2rem
}

.ctaBtnGroupContainer {
    display: flex;
}

.ctaBtnGroupContainer button {
    margin: 40px;
    padding: 1.3rem 2.3rem;
    border-radius: 4rem;
    letter-spacing: 1px;
    font-size: 1rem;

    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .ctaContainer {
        bottom: 10%;
    }

    .ctaContainer span {
        height: auto;
        width: 90%;
        font-size: 16px;
        padding-bottom: 1rem;

    }

    .ctaBtnGroupContainer {
        flex-direction: column;
    }

    .ctaBtnGroupContainer button {
        margin: 20px 0;
        width: 80%;
        height: 60px;
        font-size: 18px;
    }
}
