.topFooterContainer {
    display: flex;
    justify-content: space-around;
  }
  
  .footerContainer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  @media only screen and (max-width: 768px) {
    .topFooterContainer {
      flex-direction: column;
      align-items: center;
    }
  
    .footerContainer {
      margin-top: 50px;
      justify-content: center;
    }
  }