* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  padding: 40px 5%;
}

.heading-text {
  margin-top :1rem;
  font-size: 2rem;
  text-align: left;
  margin-left: 4rem;
}


.headerLinksContainer a{
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 1.5px
}


.headerLinksContainer{
    display:flex;
    justify-content: space-between;
    position: relative;
    max-width:760px;
    padding: 20px 95px;
    margin: auto auto auto auto;
    border-width: 0px;
}

.headerLinksContainer button{
    background-color: #ffffff;
    float: right;
    height: 30px;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding:2px;
    cursor: pointer;
    margin-top: 17px;
    opacity: 1;
    transition: opacity 1s ease 0s;
    letter-spacing: 1.5px
}

.headerLinksContainer button:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color:#ffffff;
}

@media only screen and (max-width: 768px) {
  .headerLinksContainer {
    flex-direction: column;
    padding: 20px;
  }

  .headerLinksContainer button {
    float: none;
    text-align: left;
  }
}
