.policy {
    /* font-style: 18px;
    font-family: Varela Round;
    font-weight: 400;
    font-style: normal;
    line-height: 2.2em;
    font-size: 18px;
    display: block;
    padding : 5PX 150PX 5px 150PX; */
    /* font-style: 18px; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 40px 5%;
    margin-top :1rem;
    font-size: 2rem;
    text-align: left;
    margin-left: 4rem;

}

  
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  } 
  
  .container {
    padding: 40px 5%;
  } 
  
  .heading-text {
    margin-top :1rem;
    font-size: 2rem;
    text-align: left;
    margin-left: 4rem;
  } 